@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';




*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;

}

.header-wrapper{
  // min-height: 100vh;
  // flex-grow: 1;
}

.page-cntr {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  justify-content: space-between;
}

.logo-container {
  text-align: center;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}


.header-changed {
  max-height: 10%;

  .logo-container {
    padding-top: 30px;
  }

  .logo {
    height:130px;
   

  }

}

.main-menu {
  padding-bottom: 10px;
}



.label-menu {
  padding-bottom: 10px;
}

.loader {
  display: none;
  width: 20px;
  height: 20px;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
}
.new-cell {
  position: relative;
  width: 100%;
  height: 400px;
}

.news-image {
  height: 400px;
  width: 100%;
 
}


.abstract {
z-index: 1;
position: absolute;
width: 100%;
bottom: 0;
margin-bottom: 0;
background-color: rgba(0,0,0,0.5);
color: white;
padding: 10px;
text-align: justify;

}


.footer-container {
  // margin-top: auto;
}





.footer-container p{

  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;

  
} 





@media screen and (min-width: 600px) {

  .new-cell {
    // display: flex;
    // flex-wrap: wrap;
    width: 50%;
    // flex-direction: row;

  }


}

// .logo {
//   height: 170px;
  
// }

// .menu-box {
//   padding-top:500px;
// }

/* 
.news-section {
  display: flex;
  flex-wrap: wrap;
   
}

.news-cell {
  width: 33.33%;
  height: 400px;
} */

// .footer-container {
//   height: 60px;
// }


// @media screen and (min-width: 1000px) {

//   .logo-container {
//     padding-left: 30px;
//     padding-right: 50px;
  
  
//   }

//   .logo {
//     height: 200px;
    
//   }



// }

// }