*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $general-font-color;
  font-family: $font-body;
  font-size: 16px;
}

.page-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.logo-container {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;

  .label-menu {
    font-size: 13px;
    padding-bottom: 15px;

    @include tablet-size {
      padding-right: 80px;
    }
  }
}

.loader-container{
  display: none;
  width: 50px;
  margin: 0 auto;

  img {
    height: 50px;
  }

  @include tablet-size {
    top: 50%;
    bottom: 50%;
  }
}

.header-wrapper {
  .selectric .label {
    color: white;
  }

  .selectric {
    background: #2c3e50;
    border: 1px solid #fff;
    text-align: left;
    width: 200px;
    text-transform: capitalize;

    .label {
      font-size: 13px;
    }
    .button {
      background: #2c3e50;
    }
  }

  .selectric-items {
    background: #2c3e50;
    color: #fff;
    text-align: left;
    text-transform: capitalize;
    li {
      color: #ffffff;

     &.selected {
      background: #17212a;
      color: white;
      }

      &:hover {
      background: #17212a;
      color: #dbdbdb;
      }
    }
  }

  @include tablet-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 7rem;
    padding-top: 5rem;

    .logo {
      height: 10rem;
      padding-right: 1rem;
    }

    .main-menu {
      padding-top: 5rem;

      .label-menu {
        font-size: 15px;
      }
    }
  }

  @include desktop-size {
    justify-content: flex-start;

    .logo {
      height: 13rem;
      padding-right: 5rem;
      padding-left: 3rem;
    }
  }
}

.header-changed {
  max-height: 10%;

  @include tablet-size {
    padding-top: 0;
    max-height: 150px;
    justify-content: flex-start;
  }

  .logo-container {
    padding-top: 30px;

    @include tablet-size {
      padding-left: 5rem;
      padding-right: 3rem;
    }

    @include desktop-size {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .logo {
    height: 9rem;

    @include tablet-size {
      height: 4.5rem;
    }

    @include desktop-size {
      height: 4.5rem;
    }
  }

  .main-menu {
    padding-bottom: 3rem;

    @include tablet-size {
      padding-bottom: 5rem;
    }
  }

  .footer-container {
    span {
      padding: 15px 0 5px 0;
    }
  }
}

.news-section {
  display: flex;
  flex-wrap: wrap;
}

.abstract {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: $general-font-color;
  padding: 10px;
  text-align: justify;
  height: 100px;
  overflow: hidden;

  a:hover {
    height: 25%;
  }
}

.new-cell {
  position: relative;
  width: 100%;
  height: 400px;

  @include tablet-size {
    width: 50%;
  }

  @include desktop-size {
    width: 25%;

    .abstract {
      opacity: 0;
      transition: 0.3s;
    }

    &:hover {
      .abstract {
        opacity: 1;
      }
    }
  }
}

.div-cell {
  width: 100%;
  height: 100%;
}

.footer-container {
  margin: 0 auto;

  .footer-uppercase {
    text-transform: uppercase;
  }

  span {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $footer-text-color;
    font-size: 14px;

    @include desktop-size {
      text-align: start;
      font-size: inherit;
    }
  }

  @include desktop-size {
    padding-left: 3rem;
    margin: 0;
  }
}

.footer-changed {
  height: 100px;
  padding-top: 30px;
}
