
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: white;
  font-family: $font-body;
  font-size: 16px;
  min-height: 100vh;

}

.page-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  
}

.logo-container {
  text-align: center;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  

}

#select-option {
  text-transform: capitalize;
}


.header-changed {
  max-height: 10%;

  .logo-container {
    padding-top: 30px;
  }

  .logo {
    height:130px;
   
  }

}

.main-menu {
  padding-bottom: 10px;
}

.label-menu {
  padding-bottom: 10px;
}

.loader {
  display: none;
  width: 20px;
  height: 20px;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
}
.new-cell {
  position: relative;
  width: 100%;
  height: 400px;
}
.div-cell {
  width: 100%;
  height: 100%;
}

.abstract {
z-index: 1;
position: absolute;
width: 100%;
bottom: 0;
margin-bottom: 0;
background-color: rgba(0,0,0,0.5);
color: white;
padding: 10px;
text-align: justify;

}

.footer-container {
  // margin-top: auto;
}

.footer-container p{

  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  color: $footer-text-color;

  
} 





@media screen and (min-width: 600px) {

  .main-menu {
    padding-top: 30px;
  }


  .new-cell {
    width: 50%;
    
  }

  .header-changed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  
    .logo-container {
      padding: 30px 100px;
    }
  
    .logo {
      height:80px;
     
    }
  
  }

}



@media screen and (min-width: 1000px) {

  .new-cell {
    width: 25%;
    
  }

  .header-changed{
  .logo-container {
    padding-left: 20px;
  }

}


}